<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<!-- 指定对应的mybatis的mapper.xml的路径 -->
	<mappers>
		<mapper resource="com/dao/ICustomerDAO.xml" />
	</mappers>
	
</configuration>